@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --background-secondary: 0 0% 98%;
    --foreground: 0 0% 0%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;

    --primary: 39 98% 53%;
    --primary-foreground: 0 0% 100%;

    --secondary: 222 52% 16%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 90%;
    --muted-foreground: 0 0% 45%;

    --accent: 0 0% 90%;
    --accent-foreground: 222 52% 16%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 39 98% 53%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222 52% 16%;
    --background-secondary: 222 52% 14%;
    --foreground: 0 0% 100%;

    --card: 222 52% 16%;
    --card-foreground: 0 0% 100%;

    --popover: 222 52% 16%;
    --popover-foreground: 0 0% 100%;

    --primary: 39 98% 53%;
    --primary-foreground: 0 0% 0%;

    --secondary: 0 0% 90%;
    --secondary-foreground: 222 52% 16%;

    --muted: 222 52% 14%;
    --muted-foreground: 0 0% 64%;

    --accent: 222 52% 14%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 222 52% 14%;
    --input: 222 52% 14%;
    --ring: 39 98% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .nav-item-hover {
    @apply relative after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-full after:origin-center after:scale-x-0 after:bg-primary after:transition-transform after:duration-300 hover:after:scale-x-100;
  }
}